<strong>Olá, {{ user }} </strong>
<p>Você resetou sua senha, segue abaixo nova senha:</p>
<p>
  <strong>Nova Senha: </strong> {{ password }} <br />
  <br />
  <p>Por favor não responder esse email.</p>
</p>
